Checks: >
  -*,
  modernize-*,
  bugprone-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions
HeaderFilterRegex: '.*/(src|examples)/.*'
